
  .nav-menu {
    text-align: center;
    margin: 20px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    max-width: min-content;
    margin-left: 40%;
  }
  
  .nav-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .nav-menu ul li {
    margin: 0 20px;
  }
  
  .nav-menu ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #87b33a; /* Green color */
    transition: color 0.3s ease;
  }
  
  .nav-menu ul li a:hover {
    color: #4e9b24; /* Darker green on hover */
  }
  
  .nav-menu ul li a:active {
    color: #4e9b24;
  }
  